.navbar .nav-link {
  color: #000;
  transition: 0.5s;
  font-size: 16px;
}

.navbar .nav-link-active {
  color: #000;
  font-weight: bold;
  transition: 0.5s;
  font-size: 18px;
}

.navbar .nav-link:hover {
  color: #000;
  font-weight: bold;
  transition: 0.5s;
  font-size: 16px;
}

.call-off-action {
  background-color: dodgerblue;
  font-weight: bold;
  color: #fff;
  padding: 10px;
  text-decoration: none;
}
a {
  cursor: pointer;
}
