<div class="row" style="margin-top: 50px">
  <div class="col-sm-12">
    <!-- <div *ngFor="let data of arrContents" style="margin-top: 55px"> -->
    <div class="mb-2">
      <div>
        <img
          class="isBig"
          src="{{ mediaPath + 'images/site/banners/bannerBig.png' }}"
          width="100%"
          height="auto"
          style="margin-top: 5px"
        />
        <img
          class="isSmart"
          src="{{ mediaPath + 'images/site/banners/bannerSmart.png' }}"
          width="100%"
          height="auto"
          style="margin-top: 5px"
        />
      </div>
    </div>
    <div class="outer">
      <div class="p-3" *ngFor="let dx of arrContents">
        <div>
          <h1 style="font-weight: 900">{{ dx.title }}</h1>
          <div class="mb-2" style="margin-top: -8px">
            {{ dx.description }}
          </div>
          <ul *ngFor="let db of dx.txt">
            <li>{{ db.text }}</li>
          </ul>
        </div>
      </div>
      <!-- </div> -->
      <div class="mt-2 mb-2" style="padding: 20px" style="min-height: 20vh">
        <div class="row">
          <div class="col-sm-6 p-2">
            <div class="p-4">
              <h2 style="font-weight: 900">Contact us</h2>
              <div style="margin-top: -12px">
                We would love to hear from you! If you have any questions,
                comments, or inquiries, please don't hesitate to get in touch
                with us. Our team is here to assist you and provide the
                information you need. You can reach us by using the contact form
                below or by contacting us directly through the provided contact
                information. We strive to respond to all inquiries promptly and
                aim to provide exceptional customer service.
              </div>
              <div style="padding: 10px 5px">
                <h2 style="font-weight: 900">Our contact details</h2>
                <div style="margin-top: -10px">
                  <table>
                    <tr>
                      <td><mat-icon>email</mat-icon></td>
                      <td style="vertical-align: top">
                        : info@trainedup.com.au
                      </td>
                    </tr>
                    <tr>
                      <td><mat-icon>phone</mat-icon></td>
                      <td style="vertical-align: top">: +61 0456777888</td>
                    </tr>
                    <tr>
                      <td><mat-icon>place</mat-icon></td>
                      <td style="vertical-align: top">
                        : 2 Phipps Cl, Deakin ACT 2600, Australia
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6 p-2">
            <div class="p-4">
              <div style="padding: 0 5px">
                <h2>Write to us</h2>
                <div style="margin-top: -8px">
                  <form
                    #q="ngForm"
                    id="query"
                    autocomplete="off"
                    (ngSubmit)="submit_query(q.value)"
                  >
                    <mat-form-field appearance="outline" style="width: 100%">
                      <mat-label>Messege title </mat-label>
                      <input
                        matInput
                        id="title"
                        name="title"
                        [(ngModel)]="msg_title"
                        placeholder="Subject"
                        aria-label="msg_title"
                        aria-describedby="addon-wrapping"
                      />
                      <mat-icon matSuffix>person</mat-icon>
                    </mat-form-field>

                    <mat-form-field
                      appearance="outline"
                      style="width: 100%; margin-top: -12px"
                    >
                      <mat-label>Your email </mat-label>
                      <input
                        matInput
                        id="email"
                        name="email"
                        [(ngModel)]="msg_email"
                        placeholder="Subject"
                        aria-label="msg_title"
                        aria-describedby="addon-wrapping"
                      />
                      <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>

                    <mat-form-field
                      appearance="outline"
                      style="width: 100%; margin-top: -12px"
                    >
                      <mat-label>Your query</mat-label>
                      <textarea
                        matInput
                        id="msg_body"
                        name="msg_body"
                        [(ngModel)]="msg_body"
                        style="height: 128px"
                        aria-label="msg_body"
                        aria-describedby="addon-wrapping"
                      ></textarea>
                      <!-- <mat-hint>Email, you provided during registration</mat-hint> -->
                    </mat-form-field>
                    <div class="mb-2" style="margin-top: -12px">
                      <button mat-raised-button id="query" color="primary">
                        Submit Query
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
