<div class="isBig">
  <ngx-slick-carousel #slickModal="slick-carousel" [config]="slideShowBig">
    <div ngxSlickItem *ngFor="let slider of data" class="text-center p-1">
      <div class="p-3 shadow google-font">
        <div *ngIf="section == 'slider'">
          <img
            src="{{ mediaPath + 'images/site/sliders/' + slider.imgId }}"
            width="100%"
            height="auto"
            style="border: 1px solid #ccc"
          />
        </div>
        <div class="p-2" *ngIf="section == 'review'">
          <div class="p-1">
            <div class="flex-start">
              <div>
                <mat-icon style="font-size: 25px; margin-right: 15px"
                  >person</mat-icon
                >
              </div>
              <div class="header-md">{{ slider.reviewerName }}</div>
            </div>
            <div class="mt-2 txt-md">
              {{ slider.review }}
            </div>
            <div
              class="mt-2 txt-bg"
              style="border-top: 2px solid #333; padding: 15px; color: #222"
            >
              Date: {{ slider.reviewDate }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
</div>
<div class="isSmart">
  <ngx-slick-carousel #slickModal="slick-carousel" [config]="slideShowSmart">
    <div ngxSlickItem *ngFor="let slider of data" class="text-center p-1">
      <div class="p-3 shadow google-font">
        <div *ngIf="section == 'slider'">
          <img
            src="{{ mediaPath + 'images/site/sliders/' + slider.imgId }}"
            width="100%"
            height="auto"
            style="border: 1px solid #ccc"
          />
        </div>
        <div class="p-2" *ngIf="section == 'review'">
          <div class="p-1">
            <div class="flex-start">
              <div>
                <mat-icon style="font-size: 25px; margin-right: 15px"
                  >person</mat-icon
                >
              </div>
              <div class="header-md">{{ slider.reviewerName }}</div>
            </div>
            <div class="mt-2 txt-md">
              {{ slider.review }}
            </div>
            <div
              class="mt-2 txt-bg"
              style="border-top: 2px solid #333; padding: 15px; color: #222"
            >
              Date: {{ slider.reviewDate }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
</div>
