<div class="row">
  <div class="col-sm-12" style="margin-top: 65px">
    <div class="banner">
      <img
        src="{{ mediaPath + 'images/site/services/' + bannerImg }}"
        alt=""
        width="100%"
        height="auto"
      />
    </div>
    <div class="p-2 d-flex align-items-center justify-content-center">
      <div class="outer" *ngIf="service_id > 0">
        <div class="txt-header-md">{{ arrContents[0].title }}</div>
        <div class="txt-md mt-1 mb-2">{{ arrContents[0].txt }}</div>
        <div *ngFor="let data of arrContents[0].contents" class="txt-md mt-1">
          <ul>
            <li>
              {{ data.txt }}
            </li>
          </ul>
        </div>
      </div>
      <div class="outer" *ngIf="service_id == 0">
        <div *ngFor="let data of arrContents">
          <div class="txt-header-md">{{ data.title }}</div>
          <div class="txt-md mt-1 mb-2">{{ data.txt }}</div>
          <div *ngFor="let dx of data.contents" class="txt-md mt-1">
            <ul>
              <li>
                {{ data.txt }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
