.parallax-effect1 {
  background-image: url("http://localhost/backendLawFirm/medias/images/site/common/parallax1.png");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}

.parallax-effect2 {
  background-image: url("https://icc.ghwo.org/backendLawFirm/medias/images/site/common/parallax2.png");
  min-height: 130px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}

.btn-services {
  background-color: #dca465;
  color: #fff;
}
