<div class="row">
  <div class="col-sm-12 text-center" style="margin-top: 62px">
    <img
      src="{{ mediaPath + 'images/site/banners/home.png' }}"
      width="100%"
      height="auto"
    />
    <!-- <app-slider
      [data]="arrContents[0].contents"
      [section]="sliderCat1"
    ></app-slider> -->
  </div>
  <div class="outer text-center">
    <div class="col-sm-12" style="margin-top: 30px">
      <div class="gff-lora" style="font-weight: 900; font-size: 35px">
        {{ arrContents[1].title }}
      </div>
      <div class="txt-body mt-3">{{ arrContents[1].txt }}</div>
      <!-- <div class="row d-flex align-items-center justify-content-center mt-3">
        <div
          class="col-sm-3 mt-3 mb-2"
          *ngFor="let data of arrContents[1].contents"
        >
          <div class="shadow" style="padding: 15px 10px">
            <div class="txt-header-md">
              {{ data.title }}
            </div>
            <div class="mt-2">
              <img
                src="{{ mediaPath + 'images/site/portfolio/' + data.imgId }}"
                width="100%"
                height="auto"
              />
            </div>
            <div class="txt-md mt-2">{{ data.txt }}</div>
          </div>
        </div>
      </div> -->
    </div>

    <div class="col-sm-12" style="margin-top: 60px">
      <div class="gff-lora" style="font-weight: 900; font-size: 35px">
        {{ arrContents[2].title }}
      </div>
      <div class="txt-body mt-3">{{ arrContents[2].txt }}</div>
      <div class="row d-flex align-items-center justify-content-center mt-3">
        <div class="col-sm-3 mt-3" *ngFor="let data of arrContents[2].contents">
          <div class="shadow" style="padding: 25px 10px">
            <div>
              <img
                src="{{ mediaPath + 'images/site/services/' + data.imgId }}"
                width="100"
                height="100"
                style="border-radius: 50%; border: 4px solid #dca465"
              />
            </div>
            <div class="txt-header-md">
              {{ data.title }}
            </div>
            <div class="txt-md mt-2">{{ data.txt }}</div>
            <div class="mt-2">
              <button
                mat-raised-button
                class="btn-services"
                (click)="extract_service_details(data.serviceId)"
              >
                Learn more ...
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12" style="margin-top: 60px">
      <div class="gff-lora" style="font-weight: 900; font-size: 35px">
        {{ arrContents[3].title }}
      </div>
      <div class="txt-body mt-3">{{ arrContents[3].txt }}</div>
      <div class="row d-flex align-items-center justify-content-center mt-3">
        <div class="col-sm-3 mt-2" *ngFor="let data of arrContents[3].contents">
          <div class="p-2" style="border: 3px solid #eee; border-radius: 15px">
            <!-- <h2>{{ data.title }}</h2> -->
            <img
              src="{{ mediaPath + 'images/site/clients/' + data.imgId }}"
              width="100"
              height="100"
              style="border-radius: 50%; border: 4px solid #eee"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="parallax-effect2 mt-4" style="padding: 20px 10px; color: #ddd">
      <div class="gff-lora" style="font-weight: 900; font-size: 35px">
        {{ arrContents[4].title }}
      </div>
      <div class="txt-md mt-2">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col-sm-6 bold txt-bg">
            {{ arrContents[4].txt }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 mt-1">
      <app-slider
        [data]="arrContents[4].contents"
        [section]="sliderCat2"
      ></app-slider>
    </div>
  </div>
</div>
