<!-- <div class="isSmart">
  <div class="flex shadow">
    <div style="padding: 1px" class="flex-start">
      <img
        src="{{ mediaPath + 'images/site/common/logo.png' }}"
        class="logo"
        width="50"
        height="50"
      />
      <div class="mt-2 txt-black bold">
        <div>Inns of court</div>
        <div class="text-end" style="margin-top: -5px">chambers</div>
      </div>
    </div>
    <div>
      <mat-icon
        class="menu-icon"
        data-bs-toggle="offcanvas"
        href="#offcanvasExample"
        role="button"
        aria-controls="offcanvasExample"
        >menu</mat-icon
      >
    </div>
  </div>
</div>
<div class="isBig">
  <app-navbar></app-navbar>
</div> -->
<div class="row" style="margin-top: 50px">
  <div class="col-sm-12">
    <div class="isBig overlay">
      <img
        class="object-fit-cover"
        src="{{ mediaPath + 'images/site/banners/bannerBig.png' }}"
        width="100%"
        height="auto"
        style="margin-top: 5px"
      />
      <div class="overlay-txt" style="color: #000">
        <h1
          style="
            font-weight: 900;
            letter-spacing: 2px;
            font-size: 50px;
            color: #eee;
          "
        >
          Inn's of court chambers
        </h1>
        <h3 class="text-start" style="font-weight: 900; color: #eee">
          where justice meets excellence...
        </h3>

        <div class="flex-start">
          <div *ngFor="let icon of arrContents[5].contents">
            <img
              class="smIcon shadow m-2"
              src="{{
                mediaPath + 'images/site/social_media_icons/' + icon.imgId
              }}"
              width="60"
              height="60"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="isSmart">
      <img
        class="object-fit-cover"
        src="{{ mediaPath + 'images/site/banners/bannerSmart.png' }}"
        width="100%"
        height="auto"
      />
    </div>
    <div class="text-center google-font">
      <div
        class="row d-flex align-items-center justify-content-center bg-top-left"
      >
        <div class="col-sm-6 inner txt-align-one slide">
          <div class="header-bg" style="color: #000">Who we are</div>
          <div class="header-md mt-3" style="color: #667">
            Seriously serious on job
          </div>
        </div>
        <div
          class="col-sm-6 inner txt-md bg-top-right txt-align-two slide"
          style="color: #000; padding: 10px 20px"
        >
          <div class="col-sm-8 mt-3 mb-3">
            <div>
              <p>
                <span class="bold" style="color: 000"
                  >"Inns of Court Chambers"</span
                >
                , your trusted source for comprehensive legal services. With a
                steadfast commitment to excellence and a team of highly skilled
                attorneys, we strive to meet the diverse legal needs of our
                clients. Whether you are an individual, a small business, or a
                multinational corporation, our firm is dedicated to delivering
                top-notch legal solutions tailored to your specific
                requirements.
              </p>
              <p class="text-start isBig">
                <button
                  class="btn-bookin"
                  color="accent"
                  style="
                    padding: 10px;
                    height: 70px;
                    font-size: 18px;
                    margin-right: 5px;
                  "
                >
                  BOOK IN <br />
                  <span class="span-free_consultation" style="font-size: 12px"
                    >FOR FREE CONSULTATION</span
                  >
                </button>

                <button
                  class="btn-bookin"
                  style="padding: 10px 15px; height: 70px; font-size: 18px"
                >
                  NEED SOLUTION?? <br />
                  <span class="span-free_consultation" style="font-size: 12px"
                    >MEET OUR EXPERTS</span
                  >
                </button>
              </p>
            </div>
            <div class="isSmart">
              <p class="flex mt-3 p-1">
                <button class="btn shadow btn-bookin-smart">
                  BOOK IN<br />
                  <span style="color: #000">FOR FREE CONSULTATION</span>
                </button>
                <button class="btn shadow btn-bookin-smart">
                  NEED SOLUTION<br />
                  <span style="color: #000">MEET OUR EXPERTS</span>
                </button>
              </p>
              <div class="d-flex align-items-center justify-content-center">
                <div class="col-sm-6">
                  <div class="flex text-center" style="margin-top: 10px">
                    <img
                      *ngFor="let icon of arrContents[5].contents"
                      class="object-fit-cover shadow m-2"
                      src="{{
                        mediaPath +
                          'images/site/social_media_icons/' +
                          icon.imgId
                      }}"
                      width="40"
                      height="40"
                      style="border-radius: 50%"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="col-sm-12 txt-md outer text-center google-font"
      style="margin-top: 30px"
    >
      <div class="header-bg">
        {{ arrContents[2].title }}
      </div>
      <div class="header-md mt-3">{{ arrContents[2].txt }}</div>
      <div class="row d-flex align-items-center justify-content-center mt-3">
        <div class="col-sm-3 mt-4" *ngFor="let data of arrContents[2].contents">
          <div class="shadow service-panel">
            <div>
              <img
                src="{{ mediaPath + 'images/site/services/' + data.imgId }}"
                width="100"
                height="100"
                class="img-service"
              />
            </div>
            <div class="header-md">
              {{ data.title }}
            </div>
            <div class="row mb-3 m-0" style="background-color: #fff">
              <div class="txt-md mt-2">{{ data.txt }}</div>
              <div class="mt-3 mb-3">
                <button
                  mat-raised-button
                  class="btn-services google-font header-md"
                  style="background-color: #ddd"
                  (click)="on_route_change('/services', data.serviceId)"
                >
                  Learn more
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="col-sm-12 text-center outer bg-light google-font"
      style="margin-top: 60px"
    >
      <div class="header-bg mt-3">
        {{ arrContents[3].title }}
      </div>
      <div class="header-md mt-3">{{ arrContents[3].txt }}</div>
      <div class="row d-flex align-items-center justify-content-center mt-3">
        <div class="col-sm-3 mt-2" *ngFor="let data of arrContents[3].contents">
          <div class="p-2" style="border: 3px solid #eee; border-radius: 15px">
            <!-- <h2>{{ data.title }}</h2> -->
            <img
              class="slide"
              src="{{ mediaPath + 'images/site/clients/' + data.imgId }}"
              width="100%"
              height="auto"
              style="border: 4px solid #eee"
            />
          </div>
        </div>
      </div>
    </div>

    <div
      class="parallax-effect2 mt-4 text-center google-font"
      style="padding: 20px 10px; color: #ddd"
    >
      <div class="header-bg">
        {{ arrContents[4].title }}
      </div>
      <div class="txt-md mt-2">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col-sm-6 header-md">
            {{ arrContents[4].txt }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 mt-1 outer">
      <app-slider
        [data]="arrContents[4].contents"
        [section]="sliderCat2"
      ></app-slider>
    </div>
    <!-- ======================================  OFF CANVAS ======================================== -->
    <div
      class="offcanvas offcanvas-start"
      tabindex="-1"
      id="offcanvasExample"
      aria-labelledby="offcanvasExampleLabel"
    >
      <div class="offcanvas-header">
        <h2 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h2>
        <button
          type="button"
          class="btn-close text-reset"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>

      <div class="offcanvas-body">
        <div>
          Some text as placeholder. In real life you can have the elements you
          have chosen. Like, text, images, lists, etc.
        </div>
        <div class="dropdown mt-3">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-bs-toggle="dropdown"
          >
            Dropdown button
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
