/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  // background-image: linear-gradient(to bottom right, dodgerblue, #eee);
  overflow-x: hidden;
  background-color: #fff;
}

.google-font {
  font-family: "Yanone Kaffeesatz";
}

.txt-white {
  color: white;
}

.txt-black {
  color: black;
}

.txt-red {
  color: red;
}

.txt-green {
  color: green;
}

.txt-md {
  font-size: 18px;
  line-height: 25px;
}

.txt-bg {
  font-size: 22px;
}

.bold {
  font-weight: 900;
  letter-spacing: 2px;
}

.bg-light-one {
  background-color: #b9b5b5;
}

.bg-light-two {
  background-color: #afaeae;
}

.a-learnmore {
  color: black;
  cursor: pointer;
}

.a-learnmore:hover {
  color: bule;
  cursor: pointer;
  font-weight: bold;
}

.header-bg {
  font-size: 30px;
  font-weight: 900;
}

.header-md {
  font-size: 18px;
  font-weight: 900;
}

.header-sm {
  font-size: large;
  font-weight: 900;
}
// ============================= Flex ======================
.flex {
  display: flex;
  justify-content: space-between;
}

.flex-around {
  display: flex;
  justify-content: space-around;
}
.flex-start {
  display: flex;
  justify-content: flex-start;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.logo {
  margin: 2px 10px;
  border-radius: 50%;
  padding: 5px;
  background-color: #eee;
}
.menu-icon {
  margin: 10px 20px;
  font-size: 30px;
}

.underline {
  display: inline;
  margin-top: -10px;
  border-bottom: 2px solid #888;
  padding-bottom: 2px;
  transition: 0.5s;
}

.btn-bookin {
  background-color: dodgerblue;
  color: #fff;
  font-weight: 900;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 10px;
}

.btn-bookin:hover {
  letter-spacing: 1.5px;
  background-color: #f88605;
  color: #fff;
  font-weight: 900;
  border: 3px solid #dca465;
  transition: 0.5s;

  .span-free_consultation {
    color: #000;
  }
}

.btn-bookin-smart {
  background-color: dodgerblue;
  color: #fff;
  font-weight: 900;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 5px;
  width: 100%;
  margin: 1px;
}
